# 1 Sesi 2

- Conditional
- Control-flow
- Looping

## 1.1 If clauses

In [1]:
x = 0
y = 5

In [2]:
if x < y:
    print('yes')

yes

In [4]:
if x > y:
    print('yes')

In [5]:
if x:
    print('yes')

In [6]:
if y:
    print('yes')

yes

In [7]:
if 'ba' in ['ba', 'ca', 'ta']:
    print('Expression is true')
    print('Statement Executed')
    print('...')
    print('Done')
    
print('After Conditional')

Expression is true
Statement Executed
Done
After Conditional

In [8]:
if 'mamma' in ['ba', 'ca', 'ta']:
    print('Expression is true')
    print('Statement Executed')
    print('...')
    print('Done')
    
print('After Conditional')

After Conditional

In [12]:
if 'ba' in ['ba', 'ca', 'ta']:
        print('Expression is true')
    print('Statement Executed')
    print('...')
    print('Done')
    
print('After Conditional')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

## 1.2 Else and elif clauses

In [15]:
x = 20

if x<50:
    print('Benar')
else:
    print('Salah')

Benar

In [16]:
x = 20

if x>50:
    print('Benar')
else:
    print('Salah')

Salah

In [17]:
hargaBuku = 20000
hargaNovel = 60000
uang = 30000

if uang > hargaBuku:
    print('Beli Buku')
else:
    print('Uang tidak cukup')

Beli Buku

In [18]:
hargaBuku = 20000
hargaNovel = 60000
uang = 70000

if uang > hargaNovel:
    print('Beli Novel')
elif uang > hargaBuku:
    print('Beli Buku')
else:
    print('Uang tidak cukup')

Beli Novel

In [22]:
if 'b' in 'bar':
    print('too')
elif 1/0:
    print('Error 1')
elif noVar:
    print('Error 2')

too

## 1.3 One-Line if statements

In [23]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [24]:
x = 3
if x == 1: print('baa')
elif x == 2: print('miaww')
else: print('miann')

miann

## 1.4 Ternary Operators

In [25]:
age = 23

s = 'teen' if age < 21 else 'adult'
s

'adult'

In [26]:
'yes' if 'moo' in 'mamamoo' else 'no'

'yes'

In [27]:
if age > 18:
    pass

## 1.5 While Loop

In [31]:
n = 5

while n > 0:
    print(n)
    n-=1

5
4
3
2
1

In [32]:
i = 1

while i < 6:
    print(i)
    i+=1

1
2
3
4
5

## Break and continue

In [34]:
n = 5

while n > 0:
    n-=1
    if n == 2:
        break
    
    print(n)

4
3

In [35]:
n = 5

while n > 0:
    n-=1
    if n == 2:
        continue
    
    print(n)

4
3
1
0

In [1]:
n = 5

while n > 0:
    print(n)
    n-=1

5
4
3
2
1

In [2]:
n = 5

while n > 0:
    print(n)
    n -= 1
    if n > 1:
        print(n)

5
4
4
3
3
2
2
1

In [3]:
n = 5

while n > 0: print(n); n -= 1

5
4
3
2
1

## 1.7 For Loops

In [4]:
a = ['foo', 'bar', 'baz']

In [5]:
a

['foo', 'bar', 'baz']

In [6]:
for i in a:
    print(i)

foo
bar
baz

In [7]:
d = {
        'foo': 1,
        'bar': 2,
        'baz': 3
}

In [8]:
d

{'foo': 1, 'bar': 2, 'baz': 3}

In [9]:
for i in d:
    print(i)

foo
bar
baz

In [10]:
d.values()

dict_values([1, 2, 3])

In [11]:
for i in d.values():
    print(i)

1
2
3

In [12]:
x = range(5)

#range(start, stop, stop)
y = range(5, 16, 2)
for i in y:
    print(i)

5
7
9
11
13
15

In [13]:
for i in x:
    print(i)

0
1
2
3
4

## Example

In [15]:
temp = input('Ketik suhu')

degree = int(temp[:-1])
satuan = temp[-1]

if satuan == 'C':
    result = (9 * degree / 5) + 32
    print(result)
elif satuan == 'F':
    result = (degree - 32) * 5 / 9
    print(result)
else:
    print('Masukkan input yang benar')

Ketik suhu 38 C

100.4

In [16]:
print(temp)
print(type(degree))
print(satuan)

38 C
<class 'int'>
C

In [17]:
while True:
    msg = input('Ketikkan karakter').lower()
    print(msg)
    if msg == 'stop':

SyntaxError: unexpected EOF while parsing (<ipython-input-17-90c29730fad6>, line 4)