# 1 Sesi 1

Introduction, Data Types, and Variables

1. Introduction
2. Data Types
3. Variables

# 1.1 Integers

In [8]:
print('Hello, 2021! Hope better days will come soon!')

Hello, 2021! Hope better days will come soon!

In [9]:
print(77)

77

In [10]:
print(type(77))

<class 'int'>

# 1.2 Floating Point

In [11]:
print(5.6)

5.6

In [12]:
print(3.)

3.0

In [13]:
print(.2)

0.2

In [14]:
print(.4e7)

4000000.0

In [15]:
print(5.7e3)

5700.0

In [16]:
print(type(.22))

<class 'float'>

# 1.3 String

In [20]:
print('Love yourself')

Love yourself

In [19]:
print(type('Mr. Queen'))

<class 'str'>

# 1.4 Boolean

In [21]:
print(True)

True

In [22]:
print(type(True))

<class 'bool'>

# 1.5 Variables

In [25]:
success_rate = 70

In [24]:
print(success_rate)

70

In [26]:
success_rate1 = success_rate2 = success_rate3 = 60
print(success_rate1, success_rate2, success_rate3)

60 60 60

In [27]:
success_rate1

60

# 1.6 Arithmetic Operator

In [28]:
x = 5
y = 6

In [29]:
print(y%x)

1

In [30]:
x - y

-1

In [31]:
x*y

30

In [32]:
x/y

0.8333333333333334

In [33]:
7/10

0.7

## 1.7 Comparison Operator

In [34]:
a = 5
i = 14

In [38]:
a == i

False

In [43]:
a <= i

False

In [37]:
a >= i

False

In [41]:
a != i

True

# 1.8 String Manipulation

In [42]:
n = 'mamma'
o = 'mian'

In [44]:
n+o

'mammamian'

In [45]:
print('sonyeoeui + segye')

sonyeoeui + segye

In [46]:
n * 5

'mammamammamammamammamamma'

In [47]:
n

'mamma'

In [48]:
n in 'mammamian is my fave webtoon'

True

In [50]:
o in 'my ant'

False

In [51]:
'no' in 'hanoi is a good destination'

True

In [52]:
t = 'swedia'
print(t.capitalize())

Swedia

In [54]:
t.lower()

'swedia'

In [55]:
t.swapcase()

'SWEDIA'

In [57]:
t.title()

'Swedia'

In [58]:
t.upper()

'SWEDIA'

# 1.9 List

In [60]:
makananDiKulkas = ['oreo', 'telor', 'semangka', 'roti', 'sosis', 'nugget']

In [61]:
makananDiKulkas

['oreo', 'telor', 'semangka', 'roti', 'sosis', 'nugget']

In [63]:
r = [66, 'my trejo', 3.8, True]
print(r)

[66, 'my trejo', 3.8, True]

In [64]:
r[0]

66

In [65]:
r[3]

True

In [66]:
r[-2]

3.8

In [67]:
r[-1]

True

In [68]:
w = [5, 6, 7, 8, 9, 10, 11, 12, 13]

In [69]:
w[2:6]

[7, 8, 9, 10]

In [70]:
r + ['mama', 'mian', 'witch', 'dragon']

[66, 'my trejo', 3.8, True, 'mama', 'mian', 'witch', 'dragon']

In [71]:
len(r)

4

In [74]:
min(w)

5

In [75]:
max(w)

13

In [76]:
r

[66, 'my trejo', 3.8, True]

In [77]:
del w[-1]

In [78]:
w

[5, 6, 7, 8, 9, 10, 11, 12]

# #1.10 Tuples

In [79]:
namaTahun = (2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008)

In [80]:
namaTahun

(2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008)

In [81]:
namaTahun[1]

2001

In [84]:
namaTahun[1] = 2

TypeError: 'int' object does not support item assignment

# #1.11 Dictionary

In [85]:
identity = {'name: Shafa',
            'email: xxx@gmail.com',
            'gender: female'}

In [86]:
identity

{'email: xxx@gmail.com', 'gender: female', 'name: Shafa'}

In [89]:
identity['gender']

TypeError: 'set' object is not subscriptable

In [92]:
identity['id'] = 256

TypeError: 'set' object does not support item assignment

In [93]:
identity

{'email: xxx@gmail.com', 'gender: female', 'name: Shafa'}

In [94]:
identity['name'] = 'Shasha'

TypeError: 'set' object does not support item assignment

In [95]:
identity

{'email: xxx@gmail.com', 'gender: female', 'name: Shafa'}

In [96]:
del identity['gender']

TypeError: 'set' object does not support item deletion

In [97]:
identity

{'email: xxx@gmail.com', 'gender: female', 'name: Shafa'}

In [98]:
identity.items()

AttributeError: 'set' object has no attribute 'items'

In [99]:
identity.keys()

AttributeError: 'set' object has no attribute 'keys'

In [100]:
identity.values()

AttributeError: 'set' object has no attribute 'values'